script(type='text/ng-template', id='application')

  //- pre.row {{ application | json }}

  .row
    p.col-xs-12.col-sm-10.col-sm-offset-1 Please complete all fields and upload the required documents by 15 March 2015. If you have any questions, please e-mail
      a(href='mailto:info@studyitin.ee')  info@studyitin.ee
      | .

    p.col-xs-12.col-sm-10.col-sm-offset-1 The admission into the Summer School will be decided by the admissions committee and you will be notified via e-mail by 30 March 2015.

    .spacer.col-xs-12

  form#application.row
    .form-group.col-xs-12.col-sm-4.col-sm-offset-4
      select.form-control(id='role', required, ng-model='application.role.value', ng-blur='doSave($event)')
        option(value='') Chose your role...
        option(value='student') I am a student
        option(value='researcher') I am a junior researcher

    .spacer.col-xs-12

    .form-group.col-xs-12.col-sm-5.col-sm-offset-1
      label.control-label(for='forename') Forename
      input.form-control(id='forename', type='text', ng-model='application.forename.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-5
      label.control-label(for='surname') Surname
      input.form-control(id='surname', type='text', ng-model='application.surname.value', ng-blur='doSave($event)')


    .form-group.col-xs-12.col-sm-2.col-md-2.col-sm-offset-1
      label.control-label(for='gender') Gender
      select.form-control(id='gender', ng-model='application.gender.value', ng-blur='doSave($event)')
        option(value='')
        option(value='male') Male
        option(value='female') Female

    .form-group.col-xs-12.col-sm-4
      label.control-label(for='citizenship') Citizenship
      input.form-control(id='citizenship', type='text', ng-model='application.citizenship.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-4
      label.control-label(for='residency') Country of residency
      input.form-control(id='residency', type='text', ng-model='application.residency.value', ng-blur='doSave($event)')


    h2.col-xs-12.col-sm-10.col-sm-offset-1 University


    .form-group.col-xs-12.col-sm-6.col-sm-offset-1
      label.control-label(for='university_name') Name
      input.form-control(id='university_name', type='text', ng-model='application.university_name.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-4
      label.control-label(for='university_country') Country
      input.form-control(id='university_country', type='text', ng-model='application.university_country.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-7.col-sm-offset-1(ng-if='application.role.value == "researcher"')
      label.control-label(for='job_title') Job title
      input.form-control(id='job_title', type='text', ng-model='application.job_title.value', ng-blur='doSave($event)')


    .form-group.col-xs-12.col-sm-5.col-md-6.col-lg-7.col-sm-offset-1(ng-if='application.role.value == "student"')
      label.control-label(for='university_curriculum') Curriculum/Program
      input.form-control(id='university_curriculum', type='text', ng-model='application.university_curriculum.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-5.col-md-4.col-lg-3(ng-if='application.role.value == "student"')
      label.control-label(for='university_graduation') Year of graduation
      input.form-control(id='university_graduation', type='text', ng-model='application.university_graduation.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-10.col-sm-offset-1(ng-if='application.role.value == "student"')
      label.control-label(for='university_topic') Dissertation Topic
      input.form-control(id='university_topic', type='text', ng-model='application.university_topic.value', ng-blur='doSave($event)')


    h2.col-xs-12.col-sm-10.col-sm-offset-1(ng-if='application.role.value == "student"') Dissertation advisor
    h2.col-xs-12.col-sm-10.col-sm-offset-1(ng-if='application.role.value == "researcher"') Mentor

    .form-group.col-xs-12.col-sm-5.col-lg-4.col-sm-offset-1(ng-if='application.role.value')
      label.control-label(for='advisor_name') Name
      input.form-control(id='advisor_name', type='text', ng-model='application.advisor_name.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-5.col-lg-3(ng-if='application.role.value')
      label.control-label(for='advisor_title') Title
      input.form-control(id='advisor_title', type='text', ng-model='application.advisor_title.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-5.col-lg-3.col-sm-offset-1.col-lg-offset-0(ng-if='application.role.value')
      label.control-label(for='advisor_email') E-mail
      input.form-control(id='advisor_email', type='email', ng-model='application.advisor_email.value', ng-blur='doSave($event)')


    h2.col-xs-12.col-sm-10.col-sm-offset-1 Files
    .form-group.col-xs-12.col-sm-5.col-sm-offset-1
      label.control-label(for='motivation_letter') Applicant motivation letter (max 1 page)
      input.form-control(id='motivation_letter', type='file', onchange='angular.element(this).scope().doFileUpload(this)', ng-show='!application.motivation_letter')
      a.file(href='', ng-show='application.motivation_letter') {{ application.motivation_letter.value }}

    .form-group.col-xs-12.col-sm-5(ng-if='application.role.value')
      label.control-label(for='support_letter', ng-if='application.role.value == "student"') Dissertation advisor's support letter (max 1 page)
      label.control-label(for='support_letter', ng-if='application.role.value == "researcher"') Mentor's support letter (max 1 page)
      input.form-control(id='support_letter', type='file', onchange='angular.element(this).scope().doFileUpload(this)', ng-show='!application.support_letter')
      a.file(href='', ng-show='application.support_letter') {{ application.support_letter.value }}


    h2.col-xs-12.col-sm-10.col-sm-offset-1 Other
    .form-group.col-xs-12.col-sm-10.col-sm-offset-1
      label.control-label(for='achievements') Previous achievements (published papers, awards, talks, etc. )
      textarea.form-control(id='achievements', rows=5, ng-model='application.achievements.value', ng-blur='doSave($event)')

    .form-group.col-xs-12.col-sm-10.col-sm-offset-1
      label.control-label(for='comments') Comments
      textarea.form-control(id='comments', rows=5, ng-model='application.comments.value', ng-blur='doSave($event)')

    button.col-xs-4.col-sm-3.col-xs-offset-1.btn.btn-lg.btn-link.btn-danger.text-left(ng-click='doCancel()') Cancel application
    button.col-xs-4.col-sm-3.col-xs-offset-1.col-sm-offset-4.btn.btn-lg.btn-success(ng-show='!sending', ng-click='fakeSave()') Save application
    button.col-xs-4.col-sm-3.col-xs-offset-1.col-sm-offset-4.btn.btn-lg.btn-success.disabled(ng-show='sending', ng-click='fakeSave()') Saving ...
