doctype html
html(ng-app='s3cApp')
  head

    title Cyber Security Summer School 2015 application

    base(href='/')

    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,600')

    style @@include('stylesheet.css')

    script @@include('javascript.js')

  body
    #wrapper
      #content.container
        .row
          a(href='http://studyitin.ee/c3s')
            img.col-xs-6.col-sm-4.col-xs-offset-3.col-sm-offset-4(src='http://www.itakadeemia.ee/photos/logo1.jpg')

        div(ng-view, autoscroll='true')

    include start
    include application
    include addon
