script(type='text/ng-template', id='start')

  .row
    p.text-center.col-xs-12.col-sm-8.col-sm-offset-2 To start filling application form, please enter your e-mail address below. Your application link will be sent to this e-mail.

  form#application.row
    .form-group.col-xs-12.col-sm-4.col-sm-offset-4
      label.control-label(for='email') E-mail
      input.form-control(id='email', type='email', ng-model='email', ng-show='!sending')
      input.form-control(id='email', type='email', ng-model='email', ng-show='sending', readonly, disabled)

    button.col-xs-10.col-sm-4.col-xs-offset-1.col-sm-offset-4.btn.btn-lg.btn-success(ng-show='!sending', ng-click='sendLink()') Send application link
    button.col-xs-10.col-sm-4.col-xs-offset-1.col-sm-offset-4.btn.btn-lg.btn-success.disabled(ng-show='sending') Sending ...
